source https://nuget.org/api/v2

nuget FAKE
nuget Npgsql
nuget Newtonsoft.Json
nuget FsUnit
nuget FsUnit.Xunit
nuget Xunit
nuget Xunit.Runner.Console
nuget DesignByContract
nuget FSharp.Core 
nuget Giv.n
nuget FsPickler